
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(245,245,245); */
    /* background-color: black; */
    background-color: #E6FFFD;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #0B2447 !important;
} */

/* p{
    color: #0B2447;
} */

a{
    text-decoration: none;
}



/* ____start loading screen_________________ */
#loading{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: #555;
    z-index: 999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  

  /* start logo ______________________________________ */
  
 .logo{
    padding-left: 0;
    margin-left: 0;
 }


/* start home section_______________________________ */
.layer{
    background-color: rgba(13, 13, 13, 0.5) ;
    height: 100vh;
}
.bgsection{
    background-image: url(../images/مصر-1.webp);
    background-position: center center;
    background-size: cover ;
    background-attachment: fixed;
    height: 100vh  
}

.gear{
    font-size: 25px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230,95,120);
    position: fixed;
    color: white;
    top: 25%;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;  
}

.arrow{
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: #899bdf;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 1%;
    border-radius: 5px;
    display: none;
}
.arrow i{
    color: white;
}

.mouse{
    
    position: absolute;
    bottom: 10%;
    width: 30px;
    height: 50px;
    animation: jump 2s linear infinite; 
}
@keyframes jump{
    0%{
        bottom: 10%;
    }
    7%{
        bottom: 15%;
    }
    20%{
        bottom: 16%;
    }
   
    30%{
        bottom: 10%;
    }
    40%{
        bottom: 13%;
    }
    
    50%{
        bottom: 10%;
    }
    60%{
        bottom: 11%;
    }
    
    75%{
        bottom: 10%;
    }
}

.mouse::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 3px;
    height: 7px;
    left:50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}
.content2 h2{
font-size: 80px;
color: white !important;

}
.content2 p{
    font-size: 60px;
    color: white;
    }
.content2 p::after{
    content: "";
    animation: text  12s infinite ;
}
@keyframes text{
    0%{content: "|";}
    
    2%{content: "t|";}
   
    5%{content: "tou|";}
    
    8%{content: "tour|";}
    
    11%{content: "tour|";}

    14%{content: "tour g|";}

    17%{content: "tour gui.";}

    19%{content: "tour guide.|";}

    21%{content: "tour guide.";}

    23%{content: "tour guide.|";}

    
    24%{content: "tour guide.|";}
    25%{content: "tour guide.|";}
    26%{content: "tour guide|";}
    27%{content: "tour gui|";}
    28%{content: "tour g|";}
    29%{content: "tour|";}
    30%{content: "t|";}
    31%{content: "|";}

    /*  */

    32%{content: "|";}
    
    34%{content: "ea|";} 
   
    36%{content: "easy|";}
    
    38%{content: "easy s|";}
    
    40%{content: "easy sit|";}

    42%{content: "easy site.|";}
    
    44%{content: "easy site.";}

    46%{content: "easy site.|";}


    48%{content: "easy site.|";}
    50%{content: "easy si.|";}
    52%{content: "easy s|";}
    54%{content: "easy|";}
    56%{content: "eas|";}
    58%{content: "ea|";}
    60%{content: "e|";}
    62%{content: "|";}

    /*  */

    63%{content: "di|";}

    65%{content: "disc|";}
   
    67%{content: "discov|";}
    
    68%{content: "discover|";}
    
    70%{content: "discoverin|";}

    72%{content: "discovering.|";}

    74%{content: "discovering.";}

    75%{content: "discovering.|";}


    76%{content: "discovering.|";}
    77%{content: "discoverin|";}
    78%{content: "discover|";}
    79%{content: "discove|";}
    80%{content: "disc|";}
    81%{content: "di|";}
    82%{content: "|";}

    /*  */

    83%{content: "de|";}
    
    85%{content: "desi|";}
   
    87%{content: "design|";}
    
    91%{content: "designe|";}
    
    89%{content: "designer.|";}

    92%{content: "designer.";}

    94%{content: "designer.|";}


    95%{content: "designer.|";}
    96%{content: "designe|";}
    97%{content: "design|";}
    98%{content: "desi|";}
    99%{content: "de|";}
    100%{content: "|";}
}
/* end home section */
/* @keyframes text{
    0%{content: "|";}
    
    2%{content: "f|";}
   
    5%{content: "fre|";}
    
    8%{content: "freel|";}
    
    11%{content: "freelan|";}

    14%{content: "freelancer.|";}

    17%{content: "freelancer.";}

    19%{content: "freelancer.|";}

    21%{content: "freelancer.";}

    23%{content: "freelancer.|";}

    
    24%{content: "freelancer.|";}
    25%{content: "freelancer.|";}
    26%{content: "freelan|";}
    27%{content: "freel|";}
    28%{content: "freel|";}
    29%{content: "fre|";}
    30%{content: "f|";}
    31%{content: "|";}

    

    32%{content: "|";}
    
    34%{content: "de|";}
   
    36%{content: "deve|";}
    
    38%{content: "develo|";}
    
    40%{content: "develope|";}

    42%{content: "developer.|";}
    
    44%{content: "developer.";}

    46%{content: "developer.|";}


    48%{content: "developer.|";}
    50%{content: "develop.|";}
    52%{content: "develo|";}
    54%{content: "deve|";}
    56%{content: "dev|";}
    58%{content: "de|";}
    60%{content: "d|";}
    62%{content: "|";}

    

    63%{content: "ph|";} 

    65%{content: "phot|";}
   
    67%{content: "photog|";}
    
    68%{content: "photogra|";}
    
    70%{content: "photograph|";}

    72%{content: "photographer.|";}

    74%{content: "photographer.";}

    75%{content: "photographer.|";}


    76%{content: "photographer.|";}
    77%{content: "photograph|";}
    78%{content: "photogra|";}
    79%{content: "photog|";}
    80%{content: "phot|";}
    81%{content: "ph|";}
    82%{content: "|";}

   

    83%{content: "de|";}
    
    85%{content: "desi|";}
   
    87%{content: "design|";}
    
    91%{content: "designe|";}
    
    89%{content: "designer.|";}

    92%{content: "designer.";}

    94%{content: "designer.|";}


    95%{content: "designer.|";}
    96%{content: "designe|";}
    97%{content: "design|";}
    98%{content: "desi|";}
    99%{content: "de|";}
    100%{content: "|";}
} */

 /* start services ___________________________________*/
 .width2{
    width: 85%;
   
    margin: auto;
 }
 .cen{
    text-align: center;
    margin: 40px 0px;
 }
 .cen h2{
    font-size: 58px;
 }
 .cen p{
    font-size: 20px;
 }
.cen .r2{
    width: 50px;
    height: 5px;
    background-color: #19376D;
    margin: auto;
 
}
.tex{
    text-align: center;
    padding: 15px;
}
.tex p{
    padding: 30px;

}
.tex h2{
    margin-top: 30px;
    color: white !important;
}
.pa{
    padding: 20px;
    margin-bottom: 40px;
    background-color: #576CBC;
    border-radius: 30px;
    box-shadow: 0px 1px 6px rgb(191, 189, 189);
    cursor: pointer;
}
.pa i{
   font-size: 55px;
   border-radius: 50%;
   width: 140px;
   color: #0B2447;
   height: 140px;
   border: 10px solid #0B2447;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;

}
.pa a{
color: white;
text-decoration: none;
}

.pa:hover i{
    color: white;
    background-color: #0B2447;
    transition-duration:  .5s;
    border:10px solid rgb(205,225,248);
    transform: rotate(30deg);
 
}
.wid{
    width: 80%;
    margin: auto;
    text-align: center;
    height: 100vh;
    color: white;

    
}
.bacg{
    background-image: url(../images/counters-bg.jpg);
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;
}
.lay{
    background-color: rgba(14,98,192,.7);
    background-color: rgba(30, 30, 30, 0.7);
    height: 100vh;

}
.wid i{
    font-size: 45px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 10px solid #A5D7E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 }
 .wid p{
    font-size: 22px;
 }
 .alcen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 /* end services */


 /* start blog _________________________________________ */
 .wid3{
    width: 85%;
    margin: auto;
 }
 .sec{
    background-color: white;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 15px; 
    
 }
 .show1 p,h4{
    padding: 5px;
 }
 .show1 img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
 }
 .bg-blue{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    text-align: center;

 }
 .bg-blue p{
    background-color: rgb(14,98,192);
    border-radius: 5px;
    padding: 5px;
    color: white;
 }
 hr{
    margin: 0px;
 }
 .show2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245,245,245);
    

 }
 .sh1{
    display: flex;
    width: 50%;
    padding: 10px;
    border-radius: 0px 0px 0px 15px;
   
 }
 .sh1 p{
    margin: auto;
 }
 .sh1 img{
    width: 20%;
    border-radius: 50%;
    margin-right: 10px;
 }
 .sh2{
    font-size: 18px;
    width: 30%;
    padding: 5px;
    display: flex;
    
    align-items: center;
 }
 .sh2 p{
    margin: auto;
 }
 .sh2 i{
    margin: auto;
 }
 /* end blog */

 /* start contact _______________________________________*/

 .bgg{
    /* background-image: url(../images/overlay-bg.jpg); */
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
 }
 .wid4{
    background-color: #A5D7E8;
    width: 85%;
    margin: auto;
    display: flex; 
 }
 .lay2{
    display: flex;
 }
 
.frm button{
    border-radius: 30px;
    width: 200;
    margin: 48px;
}
.cnt{
    text-align: center;
    
}
.cnt button{
    color: white;
    border: 5px solid transparent;
    background-color: #576CBC;
}
.cnt button:hover{
    border: 5px solid #899bdf;
    /* border: 5px solid #A5D7E8; */
    transition-duration: 1s;
    background-color: #576CBC;

}
.contact2 p{
    font-size:22px;
    color: rgb(122,117,125);
}
.detail{
    margin-top: 30px;
}
.lo{
    display: flex;
}
.lo p{
    padding-left: 10px;
   
}
.lo i{
    color: #0B2447;
    font-size: 20px;
    display: flex;
}
.paa i{
    margin-right: 10px;
    font-size: 20px;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   color: #0B2447;
   border: 4px solid #0B2447;
   text-align: center;
   padding-top: 10px;
}
.paa i:hover{
    color: white;
    background-color: #0B2447;
    transition-duration:  .1s;
    border:4px solid #A5D7E8;
 
}

/* __________________________ */
.end{
    text-align: center;
    /* background-color: rgb(26,24,20); */
    background-color: #0B2447;
    color: white;
    padding: 20px;
    font-size: 18px;
}
.end p{
    margin: 5px;
}





@media (max-width: 767.98px) { 
    .bgg{
        height: 167vh;
    }
    .contact .lay2{
        height: 167vh;
    }
 }



 /* start contact ________________________________ */

 .msg {
    background-color: rgb(255, 232, 232);
    border-radius: 5px;
    border: 1px solid red;
    color: red !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 100%;
    text-align: center;
}
.msg p{
    color: red;
}
.success{
  background-color: rgb(199, 247, 165);
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 100%;
    text-align: center;
}
.success p{
    
}